@model IEnumerable<CAYCANHNT.Models.SLIDER>


<div class="slider-img">
    @foreach (var item in Model)
    {
        <a href=""><img src="~/Content/images/banner-slide/@item.IMG" alt="" /></a>
    }

</div>


