
@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row" style="margin-right: 10px; margin-left:10px">
    @{ Html.RenderAction("getAboutUs", "Skin");}

    @{ Html.RenderAction("getGGMapAbout", "Skin");}
</div>