@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
    <div class="panel panel-info">
<<<<<<< HEAD
        <div class="panel-heading"><h4>Giới thiệu cửa hàng nội thất 69</h4></div>
=======
        <div class="panel-heading"><h4>Cửa hàng Nội Thất 69</h4></div>
>>>>>>> thanh
        <div class="panel-body">
            <div style="color:#0094ff; font-size:1.3em">
                <p>Là một trong nhưng chuyện gia nội thất chúng tôi luôn mong muốn mang đến cho bạn một không gian đẹp, thoải mái và trong lành, tuy nhiên thì sau khi tìm hiểu và tham khảo thấy giá cả trên thị trường rất đắt đỏ, khiến cho ngay người cả người có điều kiện cũng phải chùn bước. Hiểu được điều này chúng tôi, sẽ đem đến cho quý khách hàng mức giá tốt nhất, và chất lượng phục vụ cao nhất.</p>
                <p>
                    <img src="/Content/images/slider/banner-cay-sen-da.jpg" />
                </p>
                <p>Đến với Cửa hàng nội thất 69 của chúng tôi  bạn không chỉ đơn giản là đồ nội thất, chúng tôi sẽ giúp các bạn chọn, cũng như giúp bạn hiểu thêm về thế giới nội thất. Ngoài ra chúng tới sẵn sàng tư vấn miễn phí và trao đổi tới quý khách hàng khi sản phẩm xảy ra vấn đề, dù thuộc hay không thuộc cửa hàng của chúng tôi.</p>
            </div>
        </div>
    </div>
}