@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading" style="background:#009900; color:#fff; text-align:center">SỐNG VUI MỖI NGÀY</div>
        <div class="panel-body">
            <a href="@i.comercial_link" target="_blank"><img src="~/Content/images/@i.comercial" /></a>
        </div>
    </div>
}