@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading" style="background:#e542f4; color:#fff; text-align:center">SỐNG VUI MỖI NGÀY</div>
        <div class="panel-body">
            <iframe style="width: 100%" src="https://www.youtube.com/embed/q-rkt8F0F7s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
}