@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Chính sách giao hàng</h4></div>
        <div class="panel-body">
            <div style="color:black; font-size:1.3em">
                <p>Giao hàng miễn phí trong nội thành Tp. Hồ Chí Minh.</p>
                <p>Đối với các khu vực khác: tính thêm chi phí giao hàng (tuỳ khu vực).</p>
                <p>Vui lòng liên hệ chúng tôi để được hỗ trợ tốt nhất.</p>
            </div>
        </div>
    </div>
}