@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
<div class="col-md-6">
    <p style="margin-top:10px"><strong>Cảm ơn quý khách đã ghé thăm!</strong></p>
    <hr />
    <p style="color:red;font-weight:bold">Cửa hàng nội thất 69</p>
    <ul>
        <li>Địa chỉ: 87 Ấp 1, Xã Long Thới, Huyện Nhà Bè, Tp. Hồ Chí Minh</li>
        <li>Người đại diện: Nhóm trưởng nhóm 9</li>
        <li>SĐT: (+84) 903343109</li>
        <li>Email: quannnl9a@gmail.com</li>
        <li>Chuyên bán sỉ, bán lẻ: đồ nội thất tại Tp. Hồ Chí Minh</li>
    </ul>
    <div>
        <p class="text-warning" style="color:red;font-size:15px">Số người Online: <span id="UserOnline">0</span> Online.</p>
    </div>
</div>
}