@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
    <div class="logo">
        <a href="/default/index"><img style="height: 100px; width: 200px" src="~/Content/images/logo.png" alt="" /></a>
    </div>
}