@model IEnumerable<CAYCANHNT.Models.SKIN>

@foreach (var i in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Thông tin cửa hàng</h4></div>
        <div class="panel-body">
            <div style="color:#0094ff; font-size:1.3em">
                <p>Cửa hàng nội thất 69</p>
                <p>Địa chỉ: 87 Ấp 1, Xã Long Thới, Huyện Nhà Bè, Tp. Hồ Chí Minh</p>
                <p>SĐT: (+84) 903343108</p>
            </div>
        </div>
    </div>
}